<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="deadswine.com.sms"
    android:versionCode="5"
    android:versionName="0.5" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/application_name" >
        
        
         <activity
            android:name="deadswine.com.sms.activities.SetupActivity"
            android:label="@string/title_activity_setup" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="deadswine.com.sms.activities.FragmentLayoutSupport"
            android:label="@string/application_name" >
           
        </activity>
        <activity android:name="deadswine.com.sms.activities.FragmentLayoutSupport$DetailsActivity" />
        <!--
            <activity
                android:name=".NewSmsActivity"
                android:label="@string/application_name" >
            </activity>
        -->
        <activity android:name="deadswine.com.sms.activities.NewSmsActivity" />

        <receiver
            android:name="deadswine.com.sms.receivers.SMSReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="deadswine.com.sms.receivers.SMS_SENT" />
                <action android:name="deadswine.com.sms.receivers.SMS_DELIVERED" />
            </intent-filter>
        </receiver>

       
    </application>

</manifest>